/* Style the navbar */

.navbar {
  margin: 0;
  padding: 0;
  background: hsl(270, 1%, 71%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 10vh;
  background-color: #1a1a1a;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-logo {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  font-weight: bold;
  color: #d44b01;
}


